In [3]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [8]:
import os
import sys
module_path = os.path.abspath(os.path.join(os.pardir))
if module_path not in sys.path:
    sys.path.append(module_path)
    
import numpy as np
import pandas as pd
import datetime

import src.data_cleaning as dc

In [5]:
# defining the 4 dataframes from our .py file

df_sales, df_resbldg, df_parcel, df_lookup = dc.create_dfs('EXTR_RPSale.csv', 
                                                           'EXTR_ResBldg.csv', 
                                                           'EXTR_Parcel.csv',
                                                           'EXTR_LookUp.csv')

/Users/kyledecember1/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3249: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
/Users/kyledecember1/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3249: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [6]:
df_sales.head()

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,...,PropertyType,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning
0,2687551,138860,110,08/21/2014,245000,20140828001436,,,,,...,3,6,3,N,N,N,N,1,8,
1,1235111,664885,40,07/09/1991,0,199203161090,071,001,664885,C,...,3,0,26,N,N,N,N,18,3,11
2,2704079,423943,50,10/11/2014,0,20141205000558,,,,,...,3,6,15,N,N,N,N,18,8,18 31 51
3,2584094,403700,715,01/04/2013,0,20130110000910,,,,,...,3,6,15,N,N,N,N,11,8,18 31 38
4,3027422,213043,120,12/20/2019,560000,20191226000848,,,,,...,11,6,3,N,N,N,N,1,8,

In [14]:
# filter for sales from 2019

df_sales_2019 = dc.sales_2019(df_sales)

In [25]:
#combine Major & Minor columns for HID value, 

df_sales_2019['HID'] = df_sales_2019['Major'].astype(str) + '-' + df_sales_2019['Minor'].astype(str)

#retain only relevant columns

columns = ['Major', 'Minor', 'DocumentDate', 'SalePrice', 'PropertyType', 'HID']
df_sales_2019 = df_sales_2019.loc[:, columns]

In [26]:
df_sales_2019

          Major Minor DocumentDate  SalePrice  PropertyType          HID
4        213043   120   12/20/2019     560000            11   213043-120
139      940652   630   07/22/2019     435000            11   940652-630
325      919715   200   07/08/2019     192000             3   919715-200
434      797320  2320   03/27/2019     540000             3  797320-2320
435      663990   178   10/02/2019          0             3   663990-178
...         ...   ...          ...        ...           ...          ...
2072890  935950   570   08/07/2019     350000            11   935950-570
2072924   66000  2215   08/07/2019   41040000             3   66000-2215
2072925   66000  2210   08/07/2019   41040000             3   66000-2210
2072926   66000  2225   08/07/2019   41040000             3   66000-2225
2072927   66000  2220   08/07/2019   41040000             3   66000-2220

[60933 rows x 6 columns]

In [27]:
df_sales_2019

          Major Minor DocumentDate  SalePrice  PropertyType          HID
4        213043   120   12/20/2019     560000            11   213043-120
139      940652   630   07/22/2019     435000            11   940652-630
325      919715   200   07/08/2019     192000             3   919715-200
434      797320  2320   03/27/2019     540000             3  797320-2320
435      663990   178   10/02/2019          0             3   663990-178
...         ...   ...          ...        ...           ...          ...
2072890  935950   570   08/07/2019     350000            11   935950-570
2072924   66000  2215   08/07/2019   41040000             3   66000-2215
2072925   66000  2210   08/07/2019   41040000             3   66000-2210
2072926   66000  2225   08/07/2019   41040000             3   66000-2225
2072927   66000  2220   08/07/2019   41040000             3   66000-2220

[60933 rows x 6 columns]

In [30]:
df_parcel['Major'].unique

<bound method Series.unique of 0         889250
1         736360
2         600350
3         635260
4         333250
           ...
614332    247338
614333    640460
614334    524980
614335    403870
614336    442660
Name: Major, Length: 614337, dtype: int64>

In [31]:
df_parcel

,Major,Minor,PropName,PlatName,PlatLot,PlatBlock,Range,Township,Section,QuarterSection,...,SeismicHazard,LandslideHazard,SteepSlopeHazard,Stream,Wetland,SpeciesOfConcern,SensitiveAreaTract,WaterProblems,TranspConcurrency,OtherProblems
0,889250,80,,VELKOFF JOHN ADD,8,,5,22,8,SE,...,N,N,N,N,N,N,N,N,N,N
1,736360,275,,ROBERTS JAY COUNTRY CLUB ESTATES,8,2,4,26,34,SE,...,N,N,N,N,N,N,N,N,N,N
2,600350,635,,NAGLES 2ND ADD,6,28,4,25,32,NE,...,N,N,N,N,N,N,N,N,N,N
3,635260,760,,OLD MILL POINT,TRACT I,,6,25,18,SE,...,N,N,N,N,N,N,N,N,N,N
4,333250,15,,HILLMAN CITY DIV NO. 05,3-4,1,4,24,22,SE,...,N,N,N,N,N,N,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
614332,247338,360,,FAIRWOOD PARK DIV NO. 09,36,,5,23,28,NE,...,N,N,N,N,N,N,N,N,N,N
614333,640460,8,,ORDS J F HOME TRS,2,A,4,23,16,NW,...,N,N,N,N,N,N,N,N,N,N
614334,524980,1325,,MAYNARDS LAKE WASHINGTON ADD,1-2,39,4,24,22,NE,...,N,N,N,N,N,N,N,N,N,N
614335,403870,700,,LAKE HILLS NO. 16,29,3,5,25,36,NW,...,N,N,N,N,N,N,N,N,N,N
614336,442660,65,,LOVELL ADD NO. 03,3,2,4,26,21,SW,...,N,N,N,N,N,N,N,N,N,N